body {
    background-color: rgb(247, 234, 234);
}
* {
    box-sizing: border-box;
}
#home-body {
    display: flex;
    flex-direction: row;
}
.navigation {
    width: 20%;
    border-radius: 5px;
    background-color: lightgrey;
}
.navigation li{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 5% 3.4%; 
}
.navigation li a{
    font-size: 22px;
    margin-bottom: 20%;
}
li #logout {
    margin-top: 480%;
    color: blue;
}
.flights {
    margin-left: 1%;
}
.helicopter-cards {
    text-align: center;
}
#chopper {
    background-color: rgb(230, 230, 207);
    border-radius: 7px;
    width: 110%;
    cursor: pointer;
}
#chopper:hover {
    background-color: rgb(208, 208, 197);
}
#chopper a {
    background-color:rgb(159, 246, 223);
    text-decoration: none;
}
.booking-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin-left: 12%;
    margin-right: 0;
    align-items: center;
}
.btn {
    background-color: green;
}