body {
    background-size: cover;
}
form {
    margin: auto;
    background-color: grey;
    width: 60%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
form input {
    height: 6vh;
    width: 80%;
}
#form label {
    text-align: left;
}
form select {
    height: 6vh;
    width: 80%;
}

.form-time {
    display: flex;
    flex-direction: row;
    float: left;
    gap: 20px;
    justify-content: space-between;
}


#button {
    background-color: green;
}