body {
    background-size: cover;
}
form {
    margin: auto;
    background-color: grey;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form input {
    height: 6vh;
    width: 80%;
}